html {
    background-color: rgb(236, 236, 236);
    font-size: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* about-me page */
.header-image img{
    max-height: 300px;
    width: 100%;
    margin-bottom: 50px;
}

.tick-and-cross {
    display: flex;
    background-color: #521731;
}

.tick {
    width: 50%;
    text-align: left;
    color:  white;

}

.tick ul {
    list-style: none;
    margin: 0;
}

.cross {
    width: 50%;
    text-align: left;
    color: white;
}

.cross ul {
    list-style: none;
    margin: 0;
}
/* contact-me page */
.map-parent {
    display: flex;
}
.map {
    width: 40%;
    margin-left: 10%;
}
.info {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}






/* pseudo class */
/* change the color during the active state */
.navigation a:active {
    color:#fa923f;
}

/* add pointer when mouse hovering above imgs */
img:hover {
    cursor: pointer;
}

/* header */
.fixed-bar {
    height: 70px;
}

.page-title {
    /* fix the title */
    position: fixed;
    /* make the font size two times the size of the root element */
    font-size: 24px;
    font-size: 1.5rem;
    /* make the top edge adhere to its parent */
    top: 0;
    /* make the width of the element equal to its containing element */
    width: 100%;
    /* make the height of the element equal to 40px */
    height: 40px;
    /* make the text of heading center */
    text-align: center;
    background-color: #521731;
    color: white;
    /* make the top and bottom padding 10 px */
    padding: 10px 0;
    /* make the margin of the heading 0 */
    margin :0;
    
}

/* navigation */
.navigation {
    /* make the text of heading center */
    text-align: center;
    padding: 0;
}

.navigation li {
    display: inline-block;
    width: 20%;
    background-color: grey;
    font-size: 16px;
    font-size: 1.0rem;
}

/* main */
.my-images-text {
    display: none;
}

.my-images {
    display: flex;
    flex-wrap: wrap;
}

.my-images img {
    width : 50%;
    min-width: 200px; /*specify a min width */
    max-width: 500px; /*specify a max width */
    height : 100%;

}
/* footer */


/* media query */
@media (min-width: 700px){
    .my-images img{
        width: 33%;
    }

    .my-images-text {
        background-color:#fa923f;
        padding: 0;
        display: flex;
    }
/* need to treat each p individually */
    .my-images-text p {
        background-color: #521731;
        width: 33.333%;
        margin: 0;
        text-align:center;
        color: white;
        font-size: 16px;
        font-size: 1.0rem;
    
        
    }
}